<div class="container mt-5">
  <div class="jumbotron">
    <h1>Hospital Management System</h1>
    <p>Please login to continue</p>
    <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
  </div>
</div>