/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 /* Theme variables */
:root {
    --primary-color: #333;
    --secondary-color: #f5f5f5;
    --text-color: #333;
    --background-color: #fff;
    --accent-color: #5c6ac4;
  }  
 
  
  [data-theme="dark"] body {
    background-color: #121212 !important;
    accent-color: #90caf9;
    color: #f5f5f5 !important;
  }
  
  [data-theme="light"] body {
    background-color: #ffffff !important;
    color: #333333 !important;
  }

  /* Apply theme variables */
  body {
    color: var(--text-color);
    background-color: var(--background-color);
    transition: all 0.3s ease;
  }
  
  /* Toggle button styling */
  .theme-switch-wrapper {
    display: flex;
    align-items: center;
    margin: 10px;
  }
  
  .theme-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 10px;
  }
  
  .theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--accent-color);
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }